<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home|Page</title>
</head>
<body>
    <center>
    <h1>Hello Every One</h1>
    <h2>This page is use to predict the Price of HOUSE</h2>
    <form action="result" method="POST">
        <p>No. of bedrooms in house</p>
    bedrooms :  <input type="text" name="bedrooms"><br>
    <p>No. of bathrooms in house</p>
    bathrooms	 :  <input type="text" name="bathrooms"><br>
    sqft_living :  <input type="text" name="sqft_living"><br>
    grade :  <input type="text" name="grade"><br>
    sqft_above :  <input type="text" name="sqft_above"><br>
    sqft_basement :  <input type="text" name="sqft_basement"><br>
    lat :  <input type="text" name="lat"><br>
    sqft_living15 :  <input type="text" name="sqft_living15"><br>
    <input type="submit">
    </form>
</center>
</body>
</html>